# Dependencies
node_modules

# Env files
.env
.env.*
!.env.example

# Build outputs
dist/

# Turbo
.turbo

# Bun
*.tsbuildinfo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.mcp.json
